a, button {
  transition: color 0.2s;
  color: inherit;
  cursor: pointer;
}

a:hover, button:hover {
  text-decoration: none;
}

a:focus, button:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

input:focus {
  box-shadow: none;
}

textarea {
  -ms-overflow-style: none;
}

body {
  min-width: 320px;
  font-size: 14px;
  font-family: "GothamPro", sans-serif;
  color: #101010;
  background: #fff;
  overflow-x: hidden;
}

body > div:nth-last-child(1), body > div:nth-last-child(2) {
  display: none;
}

header {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.header-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  min-height: 113px;
}

.header-logo {
  display: inline-block;
  padding: 5px 0 0;
  max-width: 250px;
}

.header-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 -16px;
  padding: 0;
  font: 18px "GothamPro";
  list-style: none;
  overflow: visible;
}

.header-menu > li {
  position: relative;
  margin-right: 18px;
}

.header-menu > li:last-child {
  margin-right: 0;
}

.header-menu > li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 1em;
  text-align: center;
  color: #fff;
  background: #898fd7;
  list-style: none;
  z-index: 1;
  overflow: hidden;
}

.header-menu > li ul li {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.header-menu > li ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.header-menu > li ul a:hover {
  background: #455cc8;
}

.header-menu > li > a {
  display: inline-block;
  padding: 15px;
}

.header-menu > li > a:hover {
  color: #455cc8;
}

.header-menu > li.hovered > a {
  color: #455cc8;
}

/*/////////////////*/
.header-mob-btn-box {
  display: none;
  width: 100%;
  text-align: right;
}

.header-mob-btn {
  display: inline-block;
  width: 65px;
  height: 45px;
  background: url("../img/mob-btn.png") no-repeat center center;
}

@media (min-width: 768px) {
  .header-menu-bg {
    display: none;
  }
}

.s1 {
  padding: 116px 0 112px;
  background: #455cc8 url("../img/s1-bg.png") no-repeat center center;
  background-size: cover;
}

.s1-content {
  padding: 52px 45px 54px;
  max-width: 511px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.s1-heading {
  margin: 0 0 32px;
  text-align: center;
  color: #fff;
}

.s1-title {
  margin: 0;
  font: 36px "GothamPro-Black";
}

.s1-subtitle {
  margin: 0;
  font: 72px/1 "GothamPro-Black";
}

.s1-subtitle span {
  position: relative;
  top: 4px;
  vertical-align: top;
  font: 30px "GothamPro";
}

.s1-form-heading {
  margin-bottom: 26px;
  font: 24px "GothamPro-Black";
  text-transform: uppercase;
  text-align: center;
  color: #fcd04f;
}

.s1-form > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 20px;
}

.s1-form > div:last-child {
  margin-bottom: 0;
}

.s1-form .s1-form-double {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.s1-form .s1-form-double > div {
  width: calc(50% - 10px);
}

.s1-form input:not([type="checkbox"]), .s1-form select, .s1-form .jq-selectbox__select {
  padding: 0 25px;
  width: 100%;
  height: 54px;
  border: 2px solid #fff !important;
  border-radius: 27px;
  outline: 0;
  font: 18px "GothamPro-Medium";
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  text-shadow: none;
  box-shadow: none;
}

.s1-form input:not([type="checkbox"])::-webkit-input-placeholder, .s1-form select::-webkit-input-placeholder, .s1-form .jq-selectbox__select::-webkit-input-placeholder {
  color: #fff;
}

.s1-form input:not([type="checkbox"]):-moz-placeholder, .s1-form select:-moz-placeholder, .s1-form .jq-selectbox__select:-moz-placeholder {
  color: #fff;
}

.s1-form input:not([type="checkbox"])::-moz-placeholder, .s1-form select::-moz-placeholder, .s1-form .jq-selectbox__select::-moz-placeholder {
  color: #fff;
}

.s1-form input:not([type="checkbox"]):-ms-input-placeholder, .s1-form select:-ms-input-placeholder, .s1-form .jq-selectbox__select:-ms-input-placeholder {
  color: #fff;
}

.s1-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(255, 255, 255, 0.25) url("../img/select-row.png") no-repeat calc(100% - 20px) center;
  cursor: pointer;
}

.s1-form select::-ms-expand {
  display: none;
}

.s1-form select option {
  font: 18px "GothamPro-Medium";
  color: #000;
}

.s1-form .jq-selectbox {
  position: relative;
  width: 100%;
}

.s1-form .jq-selectbox:before {
  content: "\f107";
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font: 25px/1 "FontAwesome";
  color: #fff;
}

.s1-form .jq-selectbox.opened:before {
  content: "\f106";
}

.s1-form .jq-selectbox .jq-selectbox__trigger {
  display: none;
}

.s1-form .jq-selectbox .jq-selectbox__select-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.s1-form .jq-selectbox .jq-selectbox__dropdown {
  padding: 3px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  font: 14px "GothamPro-Medium";
  background: #898fd7;
  box-shadow: none;
  overflow: hidden;
}

.s1-form .jq-selectbox li {
  color: #fff;
  padding: 3px 25px;
}

.s1-form .jq-selectbox li.selected, .s1-form .jq-selectbox li:hover {
  background: #455cc8 !important;
}

.s1-form button[type="submit"] {
  position: relative;
  width: 200px;
  height: 54px;
  border: 0;
  border-radius: 27px;
  font: 18px "GothamPro-Black";
  color: #fff;
  background: linear-gradient(to top, #f2b42a 0%, #ffd85a 100%);
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.s1-form button[type="submit"]:hover {
  background: linear-gradient(to bottom, #f2b42a 0%, #ffd85a 100%);
}

.s1-form button[type="submit"]:active {
  text-shadow: none;
  box-shadow: none;
  transition: none;
}

.s1-form button[type="submit"]:active:before {
  opacity: 1;
}

.s1-form button[type="submit"] > * {
  position: relative;
  z-index: 1;
}

.s1-form button[type="submit"]:before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  background: #f2b42a;
}

.s1-form label {
  position: relative;
  display: block;
  margin: 5px auto 0;
  padding: 0 0 0 33px;
  max-width: 390px;
  font-size: 0;
  cursor: pointer;
}

.s1-form label > span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 6px;
}

.s1-form label > span:nth-child(3) {
  display: inline-block;
  font: 12px/1.2 "GothamPro";
  text-align: left !important;
  color: #fff;
}

.s1-form label > span:nth-child(3) a {
  font-family: "GothamPro-Bold";
  text-decoration: underline;
  color: #68ffff;
}

.s1-form label > span:nth-child(3) a:hover {
  text-decoration: none;
}

.s1-form label input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.s1-form label input[type="checkbox"]:checked + span:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #68ffff;
}

.s2 {
  padding: 92px 0 65px;
}

.s2-block {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 83px;
}

.s2-block:last-child {
  margin-bottom: 0;
}

.s2-block_rev .s2-block-img {
  -ms-flex-order: -1;
      order: -1;
}

.s2-block_rev .s2-block-text {
  padding: 0 0 0 95px;
}

.s2-block-text {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex: 0 1 auto;
  padding: 0 95px 0 0;
  font: 14px/1.25 "GothamPro-Light";
}

.s2-block-text h3 {
  margin-bottom: 22px;
  font: 30px "GothamPro-Bold";
}

.s2-block-text h3 br {
  display: none;
}

.s2-block-text p {
  margin-bottom: 16px;
}

.s2-block-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 40%;
}

.s2-block-img img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.mbtns > * {
  margin-bottom: 4px;
}

.mbtns a {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background: #999999;
  transition: all 0.3s;
}

.mbtns a:hover {
  opacity: 0.8;
}

.s3-menu-box {
  margin: 0 0 49px;
  background: linear-gradient(185deg, #4483cc 0%, #2425a5 100%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
}

.s3-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  padding: 5px 0;
  font: 14px "GothamPro";
  color: #fff;
  list-style: none;
}

.s3-menu li {
  margin-right: 31px;
}

.s3-menu li:last-child {
  margin-right: 0;
}

.s3-menu a {
  display: inline-block;
  padding: 9.5px 7px;
}

.s3-menu a:hover {
  text-decoration: underline;
}

.s3 {
  padding: 0 0 75px;
}

.s3-top {
  margin: 0 0 3.15em;
  font: 14px/1.25 "GothamPro-Light";
}

.s3-top b {
  font-family: "GothamPro-Medium";
}

.s3-top p {
  margin-bottom: 1em;
}

.s3-tabs-top {
  margin-bottom: 48px;
  font: 14px/1.25 "GothamPro-Light";
}

.s3-tabs-top h4 {
  margin-bottom: 21px;
  font: 18px "GothamPro-Medium";
}

.s3-tab {
  margin-bottom: 3px;
}

.s3-tab.active .s3-tab-heading:after {
  content: "-";
}

.s3-tab-heading {
  position: relative;
  padding: 12px 30px;
  font: 18px/1.25 "GothamPro-Medium";
  background: #ebebeb;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.s3-tab-heading:after {
  content: "+";
  position: absolute;
  right: 29px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font: 18px "GothamPro-Medium";
}

.s3-tab-text {
  display: none;
  font: 14px/1.25 "GothamPro-Light";
  padding: 16px 40px 23px 30px;
}

.s3-newmenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
  font: 14px "GothamPro";
  color: #fff;
  list-style: none;
}

.s3-newmenu > li {
  margin: 0 0 5px;
  -ms-flex: 1;
      flex: 1;
}

.s3-newmenu a {
  display: inline-block;
  padding: 7px;
}

.s3-newmenu a:hover {
  text-decoration: underline;
}

.s3-newmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.s3-newmenu > li > a {
  font-family: "GothamPro-Bold";
}

.s4 {
  padding: 58px 0 11px;
}

.s4-title {
  margin: 0 auto 56px;
  max-width: 1000px;
  font: 30px/1.2 "GothamPro-Bold";
  text-align: center;
  color: #2425a5;
  background-image: -webkit-linear-gradient(-95deg, #2425a5 0%, #4483cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s4-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s4-left {
  width: 59.146%;
}

.s4-left-box {
  margin: 7px 0 0 0;
  max-width: 613px;
}

.s4-right {
  width: 40.854%;
}

.s4-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s4-item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  width: 100%;
}

.s4-item-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 83px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.s4-item-img img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.s4-item-main {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex: 0 1 auto;
  padding-left: 25px;
}

.s4-item-title {
  margin-bottom: 12px;
  font: 24px "GothamPro-Bold";
}

.s4-item-text {
  margin-bottom: 0;
  font: 18px/1.25 "GothamPro";
}

a[href="https://www.mcafeesecure.com/verify?host=leadapi.net"] {
  display: none !important;
}

@media (max-width: 1229px) {
  .s2-block-text {
    padding: 0 20px 0 0;
  }
  .s2-block_rev .s2-block-text {
    padding: 0 0 0 20px;
  }
  .s2-block {
    margin-bottom: 40px;
  }
  .s3-menu li {
    margin-right: 0;
  }
  .s4-left {
    margin: 0 0 65px;
    width: 100%;
  }
  .s4-right {
    width: 100%;
  }
  .s4-item {
    width: 50%;
  }
  .s4-left-box {
    margin: 0 auto;
  }
  .s4-title {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .header-menu > li {
    margin-right: 0px;
  }
  .header-menu {
    margin: 0;
    font-size: 16px;
  }
  .header-block {
    min-height: 95px;
  }
  .s1 {
    padding: 53px 0 52px;
  }
  .s1-content {
    padding: 37px 32px 33px;
    max-width: 356px;
  }
  .s1-heading {
    margin: 0 0 23px;
  }
  .s1-title {
    font-size: 24px;
  }
  .s1-subtitle {
    font-size: 50px;
  }
  .s1-subtitle span {
    font-size: 20px;
  }
  .s1-form-heading {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .s1-form input:not([type="checkbox"]), .s1-form select, .s1-form .jq-selectbox__select {
    padding: 0 17px;
    height: 38px;
    font-size: 12px;
  }
  .s1-form > div {
    margin-bottom: 13px;
  }
  .s1-form .s1-form-double > div {
    width: calc(50% - 6px);
  }
  .s1-form button[type="submit"] {
    width: 139px;
    height: 38px;
    border-radius: 19px;
    font-size: 12px;
  }
  .s1-form label {
    margin: 5px -15px 0 0;
    padding: 0 0 0 24px;
  }
  .s1-form label > span:nth-child(3) {
    font-size: 10px;
  }
  .s1-form label > span:nth-child(2) {
    width: 14px;
    height: 14px;
  }
  .s1-form label input[type="checkbox"]:checked + span:after {
    width: 7px;
    height: 7px;
  }
  .s1-form select {
    background-size: 12px 5px;
    background-position: calc(100% - 14px) center;
  }
  .s2 {
    padding: 40px 0 33px;
  }
  .s2-block-img {
    display: none;
  }
  .s2-block-text {
    padding: 0 !important;
  }
  .s2-block-text h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .s2-block-text {
    font-size: 12px;
  }
  .s2-block-text p {
    margin-bottom: 12px;
  }
  .s2-block {
    margin-bottom: 26px;
  }
  .s3 {
    padding: 0;
  }
  .s3-menu {
    padding: 7px 0;
  }
  .s3-menu li {
    margin-right: 24px;
  }
  .s3-menu a {
    padding: 8px;
  }
  .s4 {
    padding: 70px 0 8px;
  }
  .s4-title {
    margin-left: -13px;
    margin-right: -13px;
    font-size: 30px;
  }
  .s4-items {
    margin: 0 -15px;
  }
  .s4-item-img {
    width: 63px;
  }
  .s4-item-img img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .s4-item-main {
    padding-left: 12px;
  }
  .s4-item-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .s4-item-text {
    font-size: 13.5px;
  }
  .s4-item {
    margin-bottom: 50px;
  }
  .s3-top {
    font-size: 12px;
  }
  .s3-tab-heading {
    padding: 10px 20px;
    font-size: 16px;
  }
  .s3-tab-heading:after {
    right: 10px;
  }
  .s3-tab-text {
    padding: 10px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header-mob-btn-box {
    display: block;
  }
  .header-block {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .header-logo {
    width: 207px;
  }
  .s1-content {
    margin: 0 auto;
  }
  .header-menu > li ul {
    position: static;
    border-radius: 0;
    white-space: normal;
    font-size: 1em;
    text-align: left;
    color: #000;
    background: none;
  }
  .header-submenu-open {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 48px;
  }
  .header-submenu-open:before {
    content: "\f107";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font: 20px "FontAwesome";
    color: #000;
    transition: all 0.3s;
  }
  .header-submenu-open.menu-opened:before {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .header-menu > li ul a {
    padding: 5px 0 5px 10px;
  }
  .header-menu > li ul a:hover {
    color: inherit;
    background: inherit;
  }
  .header-menu > li > a {
    display: block;
  }
  .s3-newmenu > li {
    -ms-flex: auto;
        flex: auto;
    width: 50%;
  }
  .header-mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    padding: 0;
    width: 250px;
    height: 100vh;
    transition: all 0.3s;
    background: #fff;
    z-index: 1001;
  }
  .header-mob-menu .header-menu {
    display: block;
  }
  .header-mob-menu.opened {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header-menu-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .header-mob-menu-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    color: #00d7e8;
    cursor: pointer;
  }
  .header-mob-menu-close:before {
    content: "\f00d";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font: 20px/1 "FontAwesome";
    transition: all 0.3s;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 5px;
  }
  .row {
    margin: 0 -5px;
  }
  .s1 {
    background: #455cc8;
  }
  .s1 .container {
    padding: 0 10px;
  }
  .header-logo {
    margin: 0 0 0 -5px;
  }
  .header-mob-btn {
    margin: 0 -15px 0 0;
  }
  .s2-block-text {
    font-size: 12px;
  }
  .s2-block-text h3 {
    font-size: 18px;
  }
  .s2-block-text h3 br {
    display: inline;
  }
  .s2 {
    padding: 42px 0 33px;
  }
  .s3-menu {
    font-size: 12px;
  }
  .s3-menu li {
    margin-right: 5px;
  }
  .s4 {
    padding: 45px 0 5px;
  }
  .s4-title {
    margin: 0 0 43px;
    font-size: 18px;
  }
  .s4-items {
    margin: 0;
  }
  .s4-item {
    margin-bottom: 48px;
    width: 100%;
  }
  .s4-left-box {
    margin: 0 -3px;
  }
  .s4-left {
    margin: 0 0 42px;
  }
  .s4-item:nth-child(1) {
    -ms-flex-order: 1;
        order: 1;
  }
  .s4-item:nth-child(2) {
    -ms-flex-order: 3;
        order: 3;
  }
  .s4-item:nth-child(3) {
    -ms-flex-order: 2;
        order: 2;
  }
  .s4-item:nth-child(4) {
    -ms-flex-order: 4;
        order: 4;
  }
  .s4-item-img {
    width: 75px;
  }
  .s1 {
    background-position: 62% center;
  }
  .s3-newmenu > li {
    width: 100%;
  }
  .s3-newmenu {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .s1-content {
    padding: 37px 14px 33px;
  }
  .s1-form label {
    margin-right: 0;
  }
}
