{% extends 'base.html' %}
{% load  category_tag %}
{% block content %}
    {% for post in posts %}
        <h1><a href="{% url 'post_detail' slug=post.slug  %}">{{ post.title }}</a></h1>
        <h5>{{ post.subtitle }}</h5>
        {% if post.image %}
            <img src="{{ post.image.url }}" style="width: 400px; height: 300px;">
        {% endif %}
        <p>{{ post.mini_text }}</p>
        <small>{{ post.published_date }}</small>
        <p>{{ post.text }}</p>
    {% endfor %}
    <hr>
    {% category_list %}
{% endblock content %}
