{% extends 'news/base.html' %}
{% block post %}
<h1 class="my-4">Solar Panels
  <small>Solar Secondary Text</small>
</h1>
{% for post in posts %}
<div class="card mb-4">
  {% if post.image %}
    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <small class="card-title">{{ post.subtitle }}</small>
    <p class="card-text">{{ post.mini_text }}</p>
    <a href="{% url 'post_detail' slug=post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    <small>{{ post.published_date }}</small>
    <a href="#">Start Bootstrap</a>
  </div>
</div>
{% endfor %}
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&larr; Older</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="#">Newer &rarr;</a>
  </li>
</ul>
{% endblock post %}
