{% extends 'base.html' %}
{% load  category_tag %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.headline }}</h2>
    <p>Дата публикации: {{ post.publicated }}</p>
    <p>{{ post.text }}</p>
    <hr>
    <h3>Коментарии</h3>
    {% for comment in post.get_comments %}
        {{ comment.text }}
    {% endfor %}
    <form action="{% url 'add_comment' slug=post.slug %}" method="post">
        {% csrf_token %}
{#        {{ form }}#}
        <input name="text" value="" style="border: 1px solid #000; padding: 15px">
        <button type="submit">Отправить</button>
    </form>
    <hr>
        {% category_list %}

{% endblock content %}
